numpy>=1.21
pandas>=1.3
tensorflow>=2.9
scikit-learn>=1.0
matplotlib>=3.3
opencv-python>=4.5
pillow>=8.2
xgboost>=1.4
jupyter>=1.0
Cython>=0.29
#install openexcel#
openpyxl>=3.0
#install weights and biases#
wandb>=0.12
#install xgboost#
xgboost>=1.4
#install pingouin
pingouin>=0.4
#install seaborn
seaborn>=0.11
#install statsmodels
statsmodels>=0.12
#install scikit-plot
scikit-plot>=0.3











